* {box-sizing: border-box;}
.wrapper {
  max-width: 960px;
  margin: 20px auto;
}

.wrapper > div {
  border: 2px solid rgb(243, 242, 241, 0.5);
  border-radius: 5px;
  padding: 1em; 
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}
.overview {
  grid-column: 2 / 4;
  grid-row: 2/4;
  color: darkgreen;
  font-size: 1.2rem;
}
.title { 
  grid-column: 2 / 4;
  grid-row: 1;
  color: orange;
  font-size: 1.7rem;
  text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;
}
.poster {
  grid-column: 1;
  grid-row: 1 / 5;
}
.footer {
  grid-column: 2 / 4;
  grid-row: 4;
  color: darkgoldenrod;
  font-size: 1.2rem;
}
button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; 
    font-size: 1.2rem;
    border: 2px solid #4CAF50;
    float: right;
    border-radius: 5px;
}
button:hover {
    background-color: #4CAF50; 
    color: white;   
}